a {
    color: #886c6c;
    text-decoration: none;
}

a:hover {
    color:#886c6c; 
    text-decoration:none; 
    cursor:pointer;  
}

.like-icon{
    padding: 5px 10px 0 0;
}

.recipe-heading{
    font-size: 36px;
    margin-left: 35%;
    color: #886c6c;
}

.card-header-container{
   display: flex;
   justify-content: space-between;
    background-color: #f8eed4;

}

.cardContainer{
    margin: 0 20px 20px 20px;
}

.left{
    width: 40%;
    text-align: center;
}

.pic{
    width: 400px;
    height: 400px;
    border: solid 4px black;
    margin-top: 30px;
}

.cardContent{
    
    background-color: #d9d8ec;
    display: flex;
    flex-direction: row;
}

.right {
    width: 60%;
    margin-top: 30px;
}

.description{
    margin-bottom: 20px;
}

.ingredients-container {
    padding-left: 20px;
    padding-top: 20px;
    height: 250px;
    overflow-y: scroll;
    width: 95%;
    margin-bottom: 20px;
}

.ingredients-container{
    background-color: #d7d0d0;

}

.recipe-container{
    width: 97%;
    background-color:#d7d0d0 ;
    margin-bottom: 20px;
    max-height: 250px;
    overflow-y: auto;
}

@media screen and (max-width: 1056px){
    .cardContent{
        display: flex;
        flex-direction: column;
    }
    .left{
        width: 95%;
    }
    .right{
        width: 95%;
    }

}


