
input {
    background-color: white;
    text-align: center;
}

.flex-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}
.flex-container>div{
    margin: 16px;
}

.btn{
    padding:14px;
    background-color: whitesmoke;
    border: white;
    font-weight: bold;
    font-size: medium;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

.btn:hover{
    cursor: pointer;
}

.dispNone{
    display: none;
}

.dipsBlock{
    display: block;
}




